*{
    margin: 0;
}
.logo{
    margin-left: 20px;
    margin-top: 10px;
}
.logo img{
    border-radius: 100%;

}
.Header{
    width: 100%;
    height: 90px;
    display: flex;
    background-color:#26272b;
    font-size: 1.4rem;
}
.Header ul  li{
    display: inline-block;
   
}
a{
    text-decoration: none;
    color: White;
    transition: 400ms;
}

ul li {
    transition: 1000ms;
}
ul li:hover{
    background-color: grey;
}
.navbar{
    margin-top: 20px;
    margin-left: auto;
    margin-right: 100px;
}
.navbar ul li{
    margin-left: 20px;
}